<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/CSS/Style.css">
    <scirpt src="/JS/Script.js"></scirpt>
    <title>Mini Chat PC - Trang Chủ</title>
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-info">
            <a class="navbar-brand" href="#">Mini Chat</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên kết</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Mở rộng</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="#">Nhà phát triển</a>
                            <a class="dropdown-item" href="#">Trợ giúp</a>
                            <a class="dropdown-item" href="#">Liên hệ</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                        <button class="dropdown mr-5 btn">
                            <a class="dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true">Đăng nhập</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownId">
                                <a class="dropdown-item" href="/login">Đămg nhập</a>
                                <a class="dropdown-item" href="#">Đăng ký</a>
                                <a class="dropdown-item" href="#">Quên mật khẩu</a>
                            </div>
                        </button>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </nav>
        <div class="row container-box">
            <div class="container mt-5 container-space">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                        <h1 class="mt-5 ml-5">Tải Mini Chat PC cho máy tính</h1>
                        <h3 class="ml-5">Ứng dụng Mini Chat PC đã có mặt trên Windows, Mac OS, Web</h3>
                    </div>
                </div>
                <div class="row d-flex flex-wrap">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-1">
                        <ul class="ml-5 mt-3 list">
                            <li>Gửi file, ảnh, video cực nhanh lên đến 1GB</li>
                            <li> Đồng bộ tin nhắn với điện thoại</li>
                            <li> Tối ưu cho chat nhóm và trao đổi công việc</li>
                        </ul>
                        <div class="m-5">
                            <button class="btn btn-primary btn-lg mr-2 ">Tải Ngay</button>
                            <button class="btn btn-outline-primary btn-lg">Dùng bản web</button>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 order-2">
                        <img src="/IMG/img_pc.png" alt="" class="img_pc m-5">
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
               <div class="text-center mt-3">© 2020 Một sản phẩm của MK404xL</div>
            </div>
        </div>
    </div>
</body>

</html>